/*
* File: style.css
* Author: Kurucz János
* Copyright: 2023, Kurucz János
* Group: Szoft 1/I/E
* Date: 2023-02-04
* Github: https://github.com/KuruczJanos/idomunka.git
* Licenc: GNU GPL
*/
body{
    background-image: url(./bodybackground.jpg);
}
.container{
    background-image: url(./containerbackground.jpg);
}
h1{color: blanchedalmond;}
h2{color: blanchedalmond;}
.form-label{color: blanchedalmond;}